<div class="main-container">

  <input type="text" placeholder="Filter..." (keyup)="onFilterChange($event.target.value)" />
  <hr>

  <div *ngIf="!(isLoading$ | async); else isLoading">
    <app-ticket-item
      *ngFor="let t of tickets$ | async; trackBy: ticketsTrackFn"
      [ticket]="t"
      [users]="users$ | async"
      (complete)="onComplete($event)"
      (changeAssignee)="onChangeAssignee($event)"
    ></app-ticket-item>
  </div>

  <ng-template #isLoading> <p>LOADING...</p></ng-template>

</div>
